<div class='hero'>
  <div class='hero-inner'>
    <%= content_tag(:a, href: '', class: 'hero-logo') do %>
      <i class='fa fa-music fa-5x' aria-hidden='true'></i>
    <% end %>
    <div class='hero-copy'>
      <h1>Rock Enroll</h1>
      <p>Demo application for a music school enrollment system</p>
    </div>
  </div>
</div>

<hr />

<p>Any names &amp; dates are fictional.<br />
They are generated &amp; arbitrarily replaced.</p>
