<h1><%= course.name %></h1>

<p>
  <strong>Course ID:</strong>
  <%= course.id %>
</p>

<h2>Course Enrollments</h2>

<p>
  <% link_opts = { class: 'plus_one' } %>
  <%= link_to(new_enrollment_path, link_opts) do %>
    <span>+ New Enrollment</span>
  <% end %>
</p>

<%= render 'enrollments' %>
