body {
  @include outer-container(100%);
  margin-top: 0;
  margin-bottom: 0;
}

div.container.main {
  @include shift(2);
  @include span-columns(8);

  margin-top: 3rem;
  padding: 1rem;
}

a.plus_one {
  float: right;
  span {
    font-family: $base-font-family;
    margin-left: 0.5rem;
  }
}

.contact_us {
  margin-bottom: 2rem;

  p {
    text-align: right;
    font-style: italic;
    margin: 0;
  }
}
