<div class='navigation-wrapper'>
  <%= link_to(root_path, class: 'logo') do %>
    <img src='' alt='Logo Image'>
  <% end %>
  <% menu_link_opts = { class: 'navigation-menu-button',
                        id: 'js-mobile-menu' } %>
  <%= link_to(LinkHelper.javascript_void, menu_link_opts) do %>
    MENU
  <% end %>
  <nav role='navigation'>
    <%= render 'navigation/main' %>
  </nav>
  <div class='navigation-tools'>
    <%= render 'navigation/search' %>
  </div>
</div>
